@rtfDark: #005292;
@rtfLight: #007eb8;

.inst-logo {
	img {
		width: 100px;
	}
	a {
		padding: 0!important;
		display: inline-block!important;
	}
}

.earth-roll img {
	height: 70px;
	padding-right: 24px;
}

.date-past {
	color: red;
	font-weight: bold;
	text-decoration: line-through;
}

.date-future {
	font-weight: bold;
	color: green;
}

.date-after {
	font-weight: bold;
	color: @rtfDark;
}

.panel {
	border: none!important;
	box-shadow: none!important;
	margin-top: none!important;
}

.logo60 {
	text-align: center;
	img {
		width: 100%;
		padding-bottom: 24px;
		max-width: 240px;
	}
}

// Footer

@footer-height: 24px;

.reit-footer {
	text-align: right;
	
	img {
		height: @footer-height;
		width: 45%;
	}
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: @footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-height;
}

.papers, .committees {
	li {
		padding-top: 10px;
		color: gray;
		&>span {
			font-size: 12px;
			display: block;
			color: gray;
		}
		
		&>label {
			display: block;
			margin-bottom: 0;
			color: black;
		}
	}
}

h1 {
	color: @rtfDark!important;
}
