.inst-logo {
	img {
		width: 100px;
	}
	a {
		padding: 0!important;
		display: inline-block!important;
	}
}

.earth-roll img {
	height: 70px;
	padding-right: 24px;
}

.date-past {
	color: red;
	font-weight: bold;
	text-decoration: line-through;
}

.date-future {
	font-weight: bold;
	color: green;
}

.panel {
	border: none!important;
	box-shadow: none!important;
	margin-top: none!important;
}
